<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= locale_path(@locale, format: 'atom') -%>" />
<% end %>

<% if @locale.has_updated_translations? && action_name != "updated" %>
  <span class="notice">Some phrases have changed. <%= link_to "Update translations", updated_locale_path(@locale) %>.</span>
<% end %>

<%= render partial: "tolk/locales/categories", locals: { locale: @locale, current_category: params[:category] } %>

<% if category_known? %>
  <h3 class="switch">
    Phrases missing translation (<%= @locale.count_phrases_without_translation(params[:category]) %>)
    <span>(<%= link_to "See all translations", all_locale_path(@locale, category: params[:category]) %>)</span>
  </h3>

  <div class="search">
    <%= render partial: "tolk/searches/form", locals: { locale: @locale } %>
  </div>

  <div class="translations">
    <% if @phrases.any? %>
      <%= form_for @locale do |locale_form| %>

        <%= render partial: "tolk/locales/phrases_submit_panel", locals: { form: locale_form, phrases: @phrases } %>

        <table class="translations">
          <tr>
            <th class="translation"><%= @locale.language_name -%></th>
            <th class="actions"></th>
            <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
          </tr>
          <% @phrases.each do |phrase| %>
            <tr>
              <% translation = phrase.translation || Tolk::Translation.new(locale: @locale, phrase: phrase) %>
              <td class="translation">
                <%= hidden_field_tag :"translations[][id]", translation.id, id: "#{translation.object_id}_id" %>
                <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, id: "#{translation.object_id}_phrase_id" %>
                <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, id: "#{translation.object_id}_locale_id" %>
                <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(translation.text), class: "locale", id: "#{translation.object_id}_text" %>
              </td>
              <td class="actions">
                <a class="copy" href="#" tabindex="-1" title="Copy original translation">&larr;</a><br>
                <span class="warning" title="Interpolation keys don't match">⚠</span>
              </td>
              <td class="original">
                <a name="<%= phrase.category.parameterize %>"></a>
                <%= text_area_tag :"translations[][original_text]", format_i18n_text_area_value(phrase.translations.primary.try(:text)), disabled: true %>

                <% if params[:q].present? -%>
                  <%= highlight(format_i18n_value(phrase.translations.primary.try(:text)), params[:q]) -%>
                <% else -%>
                  <%= format_i18n_value(phrase.translations.primary.try(:text)) -%>
                <% end -%>
                <%= boolean_warning if phrase.translations.primary.try(:boolean?) -%>

                <span class="key" title="<%= phrase.key %>"><%= truncate(phrase.key, length: 100) %></span>
              </td>
            </tr>
          <% end %>
        </table>

        <%= render partial: "tolk/locales/phrases_submit_panel", locals: { form: locale_form, phrases: @phrases } %>

      <% end %>
    <% else %>
      <p style="text-align: left">There aren't any missing or updated phrases that need translation.</p>
    <% end %>
  </div>
<% else %>
  <div>Select a category...</div>
<% end %>
