<!DOCTYPE html>
<html lang="<%= Tolk::Locale.primary_locale_name %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>LMT</title>

  <%= stylesheet_link_tag "tolk/application" %>

  <%= yield :head %>
</head>

<body>
  <div id="container">
    <div id="head">
      <h1>
        <span class="home"><%= link_to "LMT", root_path %></span>
        <% if @locale.present? %>
          <span class="locale"><%= link_to @locale.language_name, locale_path(@locale) %></span>
        <% end %>
        <span class="locale">
          <%= button_to "Publish Changes", dump_all_locales_path, :method => :post, :class => "apply", :data => {:confirmation_message => "You are about to publish your changes.\nDo you want to continue?"} %>
        </span>
      </h1>
      <span class="main-app-link"><%= link_to "Main application", main_app.root_path %></span>
    </div>
    <%= yield %>
  </div>

  <%= javascript_include_tag "tolk/libraries" %>
  <%= javascript_include_tag "tolk/application" %>
</body>
</html>
